<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixabay Pics</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500;600;700&family=Inter:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Roboto+Slab&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/d1099fe51b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
    </label>
    <header>
      <h1><a href="index.html">Pixabay Pics</a></h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="index.html" class="item"><i class="fa-sharp fa-solid fa-house"></i>Home</a>
        </li>
        <li>
          <a href="about.html" class="item"><i class="fa-solid fa-circle-info"></i>About</a>
        </li>
        <li>
          <a href="api.html" class="item"><i class="fa-solid fa-fire"></i>API</a>
        </li>
      </ul>
      <footer>
        <p>Made By <a href="https://www.instagram.com/hmdnubaidillah/" target="_blank">hmdnubaidillah</a></p>
      </footer>
    </nav>
    <main>
      <div class="container">
        <div class="search">
          <label for="cari">
            <input type="text" id="cari" placeholder="Cari Gambar" />
            <button class="search-btn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </label>
        </div>
        <div class="card">
          <!-- <div class="cardImg">
            <a href="https://pixabay.com/get/ged4b946adc15a8a48252cde82c43ec3479aa09a1e17b8a23072b3aa6f10987b223c001ae7d698cadd8476f05ae8dac252d0b5926aa9134ad436830764100784c_1280.jpg" target="_blank">
              <img src="https://pixabay.com/get/ged4b946adc15a8a48252cde82c43ec3479aa09a1e17b8a23072b3aa6f10987b223c001ae7d698cadd8476f05ae8dac252d0b5926aa9134ad436830764100784c_1280.jpg" alt="" />
            </a>
            <div class="about">
              <p class="info"><i class="fa-solid fa-user"></i>someone</p>
              <p class="info"><i class="fa-solid fa-heart"></i>200</p>
            </div>
          </div> -->
        </div>
        <div class="scrollTop">
          <button class="topBtn"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
      </div>
    </main>
    <script src="../script.js"></script>
  </body>
</html>
